# Dependencies
/node_modules

# Coverages
/coverage

# Transpiled files
/dist

# dotenv environment variables file
.env.test

# Optional npm cache directory
.npm

# Misc
.DS_Store

# Logs
logs
*.log
yarn*
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*